        <header>
            <nav>
                <div class="logo">
                    <img src="/images/logo.png" width="70px" >
                </div>
                <div class="buttons">
                    <a href="/feed">Feed</a>
                    <a href="/compose">Compose</a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Profile
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="/profile">Your Profile</a>
                          <a class="dropdown-item" href="#">Settings</a>
                          <a class="dropdown-item" href="/auth/logout">Logout</a>
                        </div>
                      </div>
                </div>
            </nav>
        </header>